/*règle du header*/
nav li{
  display: inline-block;
text-align: center;
line-height: 2em;
margin-right: 8em;
margin-left: 8em;
}
nav{
  background-color: grey;
}
nav a{
  color: white;
}
/*fin des règle du header*/
h1{
padding: 5em;
}

section{
background-color: grey;
text-align: center;
padding: 5% 0% 5% 0%;
}

footer{
  background-color: ActiveBorder;

}

footer i{
  margin: 1em;
}
footer li{
  margin-left: 3em;
  text-align: center;

}

h1{
  background-color: fuchsia;
   outline-style: double;
font-style: italic;
text-align:center;
}

figure{
  text-align: center;
  width: 5em;
  border: 5% 2% 5% 2%;
}

img{
  margin-top: 2em;
  width: 20em;
margin-right: 5%;
background-image: 5em;
}

body{
  background-color: #2F4F4F;
}

.jeu{
  text-align: center;

}
